body {
    font-family: 'Ubuntu', sans-serif;
    margin:0px;
    padding:0px;
    height:100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -40px;
}

@media (max-width: 925px) {
    #menu {
        padding:20px;
    }

    #model-bound {
        padding:20px;
        
    }

    #description {
        padding:20px;
    }
}

@media (min-width: 925px) and (max-width: 1360px) {
    #menu {
        padding:20px;
        width:200px;
        float:left;
    }

    #model-bound {
        padding:20px;
        width:75%;
        float:left;
        
    }

    #description {
        padding:20px;
        float:left;
    }
}

@media (min-width: 1360px) {
    #menu {
        float:left;
        padding:20px;
        width:200px;
    }

    #model-bound {
        float:left;
        padding:20px;
        width:50%;
    }

    #description {
        float:left;
        padding:20px;
        width:30%;
    }
}



#header {
    background-color: #fffcaa;
    padding:10px;
}

pre {
    border: 1px solid #ccc;
    background-color:#eee;
    padding:20px;
}

#footer {
    background-color: #f5f5f5;
    text-align: center;
    font-size: 14px;
    padding-top:10px;
    height: 30px;
}

.table {
    width:100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.table td {
    border-top: 1px solid #DDD;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
    line-height: 20px;
    vertical-align: top;
}

.table th {
    text-align:left;
    border-top: 1px solid #DDD;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
    line-height: 20px;
    vertical-align: top;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul li a {
    padding: 10px 0px;
    width:200px;
    display: block;
    float:left;
    color:#888;
    text-decoration: none;
}

ul li b {
    padding: 10px 0px;
    width:200px;
    display: block;
    float:left;
    color:#888;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: none;
    color: var(--app-color);
}

a {
    color:#888;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--app-color);
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
